
/**
*
* styling for header
*
*/
.menuBar {
    margin-top: 20px;
    /*height: 52px;*/
}
.dropdown-menu > .dropdown > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown a {
    font-family: 'Ubuntu', sans-serif;
}
.navbar-toggle > .collapsed {
    position: absolute;
    z-index: 10;
}
.navbar-toggle > .active {
    position: relative;
    z-index: 10;
}


/**
*
* styling for body
*
*/
body {
    background-color: #004713;
}
.pageForm {
    background-color: #fff;
    padding: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.submit-form {
    margin-top: 20px;
}
.sign-in {
    margin-top: 7px;
    padding-right: 30px;
}
.content-list {
    margin-top: 30px;
}
.save-button {
    margin-top: 30px;

}
.menuLinkColumns {
    display: none;
}
.content-list {
    display: none;
}
.pageContent {
    margin-top: 20px;
}
.panel-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}
.panel-body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding-right: 10px;
}

/**
*
* styling for carousel
*
*/
.headlineCarousel {
    font-size: 30px;
    padding-top: 150px;
    z-index: 100;
}   
.firstCarouselPTag {
    padding: 150px;
    font-size: 20px;
}

.plLearnMore {    
    color: #fff;
    padding-top: 300px;
    font-size: 22px;
    font-family: "trebuchet ms", sans-serif; 
    z-index: 10;   
}
.ligue1LearnMore {    
    color: #fff;
    padding-top: 300px;
    font-size: 22px;
    font-family: "trebuchet ms", sans-serif; 
    z-index: 10;   
}
.laLigaLearnMore {    
    color: #fff;
    padding-top: 300px;
    font-size: 22px;
    font-family: "trebuchet ms", sans-serif; 
    z-index: 10;   
}
.ligue1Title {
    font-size: 40px;
}
.item:nth-child(1){
    text-align: center;
    height: 600px;
    background-color: #000;
}
.item:nth-child(2){
    text-align: center;
    height: 600px;
}
.item:nth-child(3){
   
    text-align: center;
    height: 600px;
}
.item:nth-child(4){ 
    text-align: center;
    height: 600px;
}
.carousel{
    margin-top: 20px;
}
.carousel .item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.footerData {
 position: absolute;
 background-color: black;
 z-index: 10;
 border: 1px solid black;
 margin-top: 60px;
 width: 100%;
 background: #115519;
 color: black;
}
.footContent {
    background-color: #115519;
}
.footContent p {
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    font-size: 15px;
}

@media screen and (max-width: 1280px) {
    img {
        width: 980px;
    }
}

